* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.gameBoard {
	width: 600px;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	background-color: #fff;
	border: 2px solid black;
}

.info {
	position: absolute;
	bottom: 120px;
	font-size: 35px;
	color: white;
}

.squareColor {
	transform: scale(0.98);
}

.circle {
	width: 170px;
	height: 170px;
	background-color: transparent;
	border-radius: 50%;
	border: 25px solid tomato;
}

.cross {
	position: relative;
    height: 170px;
    width: 170px;
    transform: rotate(45deg);
}


.cross::before,
.cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   background-color: royalblue;
}

.cross::before {
    border-radius: 25px;
    height: 190px;
    width: 40px;
}

.cross::after {
    border-radius: 25px;
    width: 190px;
    height: 40px;
}